<% provide(:title, 'About') %>
<h1>About the Project</h1>
<p>
<p><strong>DEVELOPER'S/AUTHOR'S NOTE:</strong><i> This project is still in alpha.  While it has indeed been deployed live on the web, some of the notes, writings, and supplementals still have some kinks, bumps, and bugs that need to be worked, smoothed, and squashed.  Because of necessary testing in some cases important factors, mainly proper citation, are missing from this prototype.  Thanks for understanding.  If anything glaring strikes you, please let me know.  My email is <a href="#">jevans@gc.cuny.edu</a>.</i></p>
<p><br/></p>
<p>Dear Visitor,</p>

<p>Welcome to the "meat" of my MALS thesis in Digital Humanities.  Please allow me to answer a few questions for you: </p>

<p><b>What is this?</b><br/>  
The Gentle Introduction Resource (working title) is an attempt to use the Ruby on Rails web framework to create a self contained database of introductory materials related to digital competency.  The hope is that humanities classrooms in need of digital components in projects, grant proposals, and the like can utilize a familiar UI (User Interface) to crowdsource their own materials based on direct constraints.<br/> 

Because strict definition of what "Digital Humanities" or "The Digital Humanities" is-slash-are is hotly debated (See <a href="#">Debates in Digital Humanities edited by Matthew Gold</a> if you don't believe me), the use of the "Gentle Introductions" moniker seemed an appropriate one.  Like Digital Humanities, Gentle Introductions have been around a long time, but finding a streamlined definition as to what they are is no easy task, however finding bountiful examples of them in the wild is still quite common.<br/>

To illustrate my point, there is no given definition in any online dictionary, nor is there a specific Wikipedia article describing their prescribed tenants, however if you were to run a search for "Gentle Introductions" in wikipedia, you will come away with no shortage of examples…<br/>

Observe: <a href="http://en.wikipedia.org/wiki/Special:Search?search=Gentle+Introduction&go=Go">hyperlink</a><br/>

I am not so vain to suggest I can give them a strict definition based on my own understanding, however I can point to specific examples I have come across in my Graduate research.  I will be filling up this database with self described "Gentle Introductions" that I myself have found useful in my own digital humanities based research, but will also be including texts that I have found incredibly readable and useful dealing with introductions to complex, important material. I ask you as an alpha tester to do the same thing, but please feel free to veer away from my narrow selection of topics and include introductions to things you have found useful in your own personal form of research.</p>

<p><b>Why did you build this?</b><br/>
I believe that many humanities scholars, when faced with the idea of adding digital components to their work, are faced with a dilemma: Either they must choose their simplest option, which typically involves proprietary software which can come with antithetical misunderstanding of the software's underlying properties, or they choose to tackle a foreign high level concept which they misunderstand, making it a poor choice of digital study/project inclusion.<br/>  

Many exemplary humanities scholars, while computationally literate from a user standpoint, are misinformed about how software they have grown comfortable with works.<br/>

The goal is not only that this re-alligned open source code (see Lisences at bottom of page) be utilized for Gentle Introductions, but that such a theme create an entryway toward packaging this interface in a way that it can be quickly implemented by classrooms that wish to have a quick and pragmatic way to crowdsource pedagogical materials that arrive swiftly and without warning in various spaces on the web. 
</p>  

<p><b>Can I use it?</b><br/>
Well of course you can, but I will act as an admin, and anything that doesn't adhere to the described constraints will be deleted.  I ask that if you are not affiliated with my test group of alpha users that you simply shoot me an email at jevans@gc.cuny.edu, describe yourself, and describe your interest in joining the alpha test group.  Chances are I'll be totally for it, I just need to be able to log your inclusion properly.</p>

<p><b>Wait… so is this it?</b><br/>
Right now, because this is a solo project, there are still some necessary constraints that I need to build in.  I also need to build a central landing page that collects every post in the database and displays it next to the theme that has been hashtagged.  I hope that this initial prototype moves toward a final stable version.  The registration for this alpha version will be closed for further study once results have come in.  If I can get funding I will move toward the beta stage of production.
</p>
<p>Thanks so much for your help, and please don't hesitate to contact me about, well, anything!</p>
<p>Sincerely,<br/>Anderson Evans</p>
</body>
</html>