<% provide(:title, 'Downloads') %>
<h1>Downloads</h1>

<p><b>Full code for the GIR can be found on GitHub</b>: <a href="https://github.com/EliCash82/sample_app">https://github.com/EliCash82/sample_app</a></p>

<p>
	If you would like to download the full accompanying whitepaper for the Gentle Introduction Resource, there are two versions available for free download.</p>
<p><center><%= link_to image_tag("gir_ruby.png", alt: "Screenshot"), 'http://rubyonrails.org/' %>
	<%= link_to image_tag("ruby_logo.png", alt: "Ruby Logo"), 'http://rubyonrails.org/' %></center></p>
</p>

<p>
	<b>VERSION 1:</b> <a href="https://dl.dropboxusercontent.com/u/14469135/AndersonEvansMAThesis_2014.pdf">CLICK HERE</a> to download the full whitepaper as a PDF file.
	<br/><i>Gentle Introduction Resource Proposal coming soon</i>
</p>

<p>
	<i>COMING SOON: </i><b>VERSION 2:</b> <a href="#">CLICK HERE</a> to download the full whitepaper as a hypertext document written for and tested
	on <a href="https://www.ruby-lang.org/en/downloads/">Ruby version 1.9.3</a>.
	It was originally run on an OSX 10.8.7 terminal with the following settings:<br/>
	Terminal window dimensions: 71 X 32<br/>
	font: Andale Mono 14pt<br/>
	background color: #000000<br/>
	font color: #FF6600<br/>
	font-selection color: #3300FF
	<br/><i>VERSION 2 still under construction</i>
</p>

<p><center>All whitepaper content is licensed under the following:</p>
<p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</center>
</p>
<p><br/></p>


</body>
</html>
