<div class="center hero-unit">
	<h1>Welcome to The Gentle Introduction Resource</h1>
	<p>
		This is the home page for the
		<a href="#">The Gentle Introduction Resource</a>
		web app.
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<br/>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
