<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Insert Gentle Intro here..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<p>-----<br/></p>
	<h3>Instructions</h3>
	<p><i>Please structure your post like this:</i><br/>
	GENTLE INTRO TITLE || GENTLE INTRO AUTHOR || HYPERLINK || #GENERAL_THEME #SPECIFIC_THEME<br/>
	<br/>
	<p><i>Example:</i><br/>
	An Even Gentler Introduction to XML || http://dh.obdurodon.org/what-is-xml.xhtml || David J. Birnbaum || #markup #XML

<% end %>