<footer class="footer">
	<small>
		<a href="http://www.twitter.com/Anderson_Evans">Created by Anderson Evans</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "License", license_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.weekendpublisher.com">Network</a></li>
		</ul>
	</nav>
</footer>